# ─────────────────
# Entorno virtual
# ─────────────────
venv/
.venv/
env/
ENV/

# ─────────────────
# Variables privadas
# ─────────────────
.env
.env.*
*.env

# ─────────────────
# Python cache
# ─────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.ipynb_checkpoints/

# ─────────────────
# Datos generados
# ─────────────────
data/raw/csv/
data/raw/json/
data/raw/links/

# mantener carpetas
!data/raw/**/.gitkeep

# ─────────────────
# Archivos sensibles
# ─────────────────
sephora_cookies.json
src/**/sephora_cookies.json

# ─────────────────
# Scraping outputs temporales
# ─────────────────
*.log
*.tmp

# ─────────────────
# OS files
# ─────────────────
.DS_Store
Thumbs.db

# ─────────────────
# IDE
# ─────────────────
.vscode/
.idea/

# ─────────────────
# Jupyter
# ─────────────────
.ipynb_checkpoints/

# ─────────────────
# Python packaging
# ─────────────────
build/
dist/
*.egg-info/